In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import *

In [2]:
df=pd.read_csv('Applestore.csv')
df.drop_duplicates("id", inplace=True)
df=df.iloc[:,1:16]
df=df[['id','track_name','size_bytes','currency','price','rating_count_tot','user_rating','prime_genre']]
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,user_rating,prime_genre
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,4.0,Games
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,4.0,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,3.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,4.0,Shopping
4,282935706,Bible,92774400,USD,0.00,985920,4.5,Reference

In [3]:
df.dropna(how='any')
df['prime_genre']=df['prime_genre'].replace('Book','Book & Reference')
df['prime_genre']=df['prime_genre'].replace('Reference','Book & Reference')
#Review if there are any invalid information
Categoria=df.groupby(['prime_genre']).count().reset_index()
#df.groupby(['price']).count()
#Categoria['prime_genre']

Categorias=Categoria['prime_genre']
Categorias=Categorias.replace('Book & Reference','Book_&_Reference')
Categorias=Categorias.replace('Food & Drink','Food_&_Drink')
Categorias=Categorias.replace('Health & Fitness','Health_&_Fitness')
Categorias=Categorias.replace('Photo & Video','Photo_&_Video')
Categorias=Categorias.replace('Social Networking','Social_Networking')

Categorias

0      Book_&_Reference
1              Business
2              Catalogs
3             Education
4         Entertainment
5               Finance
6          Food_&_Drink
7                 Games
8      Health_&_Fitness
9             Lifestyle
10              Medical
11                Music
12           Navigation
13                 News
14        Photo_&_Video
15         Productivity
16             Shopping
17    Social_Networking
18               Sports
19               Travel
20            Utilities
21              Weather
Name: prime_genre, dtype: object

In [5]:
Base = automap_base()

db = "apple_db"
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432')
conn = engine.connect()
for Categoria in Categorias:
    globals()[Categoria]=df.loc[df['prime_genre']==Categoria,:]

conn.execute("commit")
conn.execute("CREATE DATABASE {0}".format('apple_db'))
conn.execute("commit")

In [6]:
meta = MetaData()
for c in Categorias:
    
    globals()[c+"_tbl"] = Table(
        c+'_tbl', meta,
        Column('id', Integer, primary_key=True),
        Column('track_name', String),
        Column('size_bytes', Integer),
        Column('currency', String),
        Column('price', String),
        Column('rating_count_tot', String),
        Column('user_rating', String),
        Column('prime_genre', String)
    )
    
meta.create_all(engine)
for c in Categorias:
    try:
        globals()[c].to_sql(name=globals()[c+'_tbl'], con=engine, if_exists='append', index=True)
    except:
        print('done')

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [7]:
engine.table_names()

['Book_&_Reference_tbl',
 'Business_tbl',
 'Catalogs_tbl',
 'Education_tbl',
 'Entertainment_tbl',
 'Finance_tbl',
 'Food_&_Drink_tbl',
 'Games_tbl',
 'Health_&_Fitness_tbl',
 'Lifestyle_tbl',
 'Medical_tbl',
 'Music_tbl',
 'Navigation_tbl',
 'News_tbl',
 'Photo_&_Video_tbl',
 'Productivity_tbl',
 'Shopping_tbl',
 'Social_Networking_tbl',
 'Sports_tbl',
 'Travel_tbl',
 'Utilities_tbl',
 'Weather_tbl']

In [8]:
%who DataFrame

Book_&_Reference	 Business	 Catalogs	 Education	 Entertainment	 Finance	 Food_&_Drink	 Games	 Health_&_Fitness
Lifestyle	 Medical	 Music	 Navigation	 News	 Photo_&_Video	 Productivity	 Shopping	 Social_Networking
Sports	 Travel	 Utilities	 Weather	 df