In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import *

In [3]:
df=pd.read_csv('AppleStore.csv')
df.drop_duplicates("id", inplace=True)
df=df.iloc[:,1:16]
df=df[['id','track_name','size_bytes','currency','price','rating_count_tot','user_rating','prime_genre']]
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,user_rating,prime_genre
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,4.0,Games
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,4.0,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,3.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,4.0,Shopping
4,282935706,Bible,92774400,USD,0.00,985920,4.5,Reference

In [4]:
df.dropna(how='any')
df['prime_genre']=df['prime_genre'].replace('Book','Book & Reference')
df['prime_genre']=df['prime_genre'].replace('Reference','Book & Reference')
#Review if there are any invalid information
Categoria=df.groupby(['prime_genre']).count().reset_index()
#df.groupby(['price']).count()
#Categoria['prime_genre']

Categorias=Categoria['prime_genre']
# Categorias=Categorias.replace('Book & Reference','Book_&_Reference')
# Categorias=Categorias.replace('Food & Drink','Food_&_Drink')
# Categorias=Categorias.replace('Health & Fitness','Health_&_Fitness')
# Categorias=Categorias.replace('Photo & Video','Photo_&_Video')
# Categorias=Categorias.replace('Social Networking','Social_Networking')

Categorias

0      Book & Reference
1              Business
2              Catalogs
3             Education
4         Entertainment
5               Finance
6          Food & Drink
7                 Games
8      Health & Fitness
9             Lifestyle
10              Medical
11                Music
12           Navigation
13                 News
14        Photo & Video
15         Productivity
16             Shopping
17    Social Networking
18               Sports
19               Travel
20            Utilities
21              Weather
Name: prime_genre, dtype: object

In [11]:
Base = automap_base()

apple_db = "apple_db"
engine = create_engine(f'postgresql://postgres:postgres@localhost:5433')
conn = engine.connect()

conn.execute("commit")

try:
    conn.execute("CREATE DATABASE {0}".format('apple_db'))
except:
    print("DB already exists")
conn.execute("commit")

for Categoria in Categorias:
    
    globals()[Categoria]=df.loc[df['prime_genre']==Categoria,:]
    globals()[Categoria] = globals()[Categoria].set_index('id')
#     globals()[Categoria] = globals()[Categoria].reset_index()
#     globals()[Categoria] = globals()[Categoria].rename(columns={'index' : 'id'})
# #     globals()[Categoria] = globals()[Categoria].set_index('id')

globals()['Games'].head()

DB already exists

,track_name,size_bytes,currency,price,rating_count_tot,user_rating,prime_genre
id,,,,,,,
281656475,PAC-MAN Premium,100788224,USD,3.99,21292,4.0,Games
283619399,Shanghai Mahjong,10485713,USD,0.99,8253,4.0,Games
284736660,Ms. PAC-MAN,70023168,USD,3.99,7885,4.0,Games
284791396,Solitaire by MobilityWare,49618944,USD,4.99,76720,4.5,Games
284815117,SCRABBLE Premium,227547136,USD,7.99,105776,3.5,Games

In [12]:
apple_engine = create_engine(f'postgresql://postgres:postgres@localhost:5433/{apple_db}')

apple_conn = apple_engine.connect()
meta = MetaData()

for c in Categorias:
    globals()[c+"_tbl"] = Table(
        c+'_tbl', meta,
        Column('id', Integer, primary_key=True),
        Column('track_name', String),
        Column('size_bytes', Integer),
        Column('currency', String),
        Column('price', String),
        Column('rating_count_tot', String),
        Column('user_rating', String),
        Column('prime_genre', String)
    )
    
meta.create_all(apple_engine)

In [13]:
for c in Categorias:
    try:
        globals()[c].to_sql(name=globals()[c+'_tbl'], con=apple_engine, if_exists='append', index=True)
    except:
        print('done')

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [8]:
apple_engine.table_names()

['Book & Reference_tbl',
 'Business_tbl',
 'Catalogs_tbl',
 'Education_tbl',
 'Entertainment_tbl',
 'Finance_tbl',
 'Food & Drink_tbl',
 'Games_tbl',
 'Health & Fitness_tbl',
 'Lifestyle_tbl',
 'Medical_tbl',
 'Music_tbl',
 'Navigation_tbl',
 'News_tbl',
 'Photo & Video_tbl',
 'Productivity_tbl',
 'Shopping_tbl',
 'Social Networking_tbl',
 'Sports_tbl',
 'Travel_tbl',
 'Utilities_tbl',
 'Weather_tbl']

In [ ]:
%who DataFrame